
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LEGO Sets</title>
  <%- include('partials/navbar', {page: '/about'}) %>
</head>

<div style="font-family: Arial, sans-serif; background-color: #ffffff; padding: 20px; text-align: center;">
  <p style="color: #010001">Filter By Themes:</p>
  <div style="border: 1px solid #ddd; padding: 10px; border-radius: 5px; text-align: center;">
    <button onclick="location.href='/lego/sets?theme=Town'" style="background-color: #2196F3; color: white; border: none; border-radius: 5px; padding: 6px 12px; margin-right: 10px; cursor: pointer;">Town</button>
    <button onclick="location.href='/lego/sets?theme=Hobby Sets'" style="background-color: #2196F3; color: white; border: none; border-radius: 5px; padding: 6px 12px; margin-right: 10px; cursor: pointer;">Hobby Sets</button>
    <button onclick="location.href='/lego/sets?theme=Ultimate Collector Series'" style="background-color: #2196F3; color: white; border: none; border-radius: 5px; padding: 6px 12px; cursor: pointer;">Ultimate Collector Series</button>
  </div>
</div>



  <h1 style="text-align: center;">All LEGO Sets</h1>

  <% sets.forEach((set) => { %>
    <div style="display: flex; border: 1px solid #ddd; margin-bottom: 10px; background-color: #fff; border-radius: 5px; overflow: hidden;">

      <div class="avatar" style="width: 150px; height: 150px; overflow: hidden; margin-right: 15px;">
        <img src="<%= set.img_url %>" alt="<%= set.name %>" style="width: 100%; height: auto; object-fit: cover;">
      </div>

      <div style="padding: 15px; flex-grow: 1;">
        <h3 style="margin-top: 0; color: #010001"><%= set.name %></h3>
       <p style="margin: 5px 0; color: #010001"><strong style="color: #010001;">Set Type:</strong> <%= set.set_type %></p>
        <button onclick="location.href='/lego/sets?theme=<%= set.Theme.name %>'" style="background-color: #2196F3; color: white; border: none; border-radius: 5px; padding: 6px 12px; margin-right: 10px; cursor: pointer;"><%= set.Theme.name %></button>
      </div>


      <div style="padding: 15px; flex-grow: 1;">
        <p style="margin: 5px 0;color: #010001"><strong style="color: #010001">Year Released:</strong> <%= set.year %></p>
        <p style="margin: 5px 0;color: #010001"><strong style="color: #010001">Number of Parts:</strong> <%= set.num_parts %></p>
      </div>

     <div style="padding: 15px;">
  <div style="margin-top: 10px;">
    <a href="/lego/sets/<%= set.set_num %>" style="text-decoration: none; padding: 8px; background-color: #2196F3; color: white; border: none; border-radius: 5px; display: inline-block;">Details</a>
  </div>
      </div>
    </div>
  <% }); %>
  
</body>
</html>
